<!DOCTYPE html>
<html>
    <meta charset="UTF-8">

   <head>
      <script src = "https://maps.googleapis.com/maps/api/js"></script>


       <script>
          var lines = [];

          var can_send_data = false;
          function send(my_sock, data) {
              if (can_send_data)
                  my_sock.send(JSON.stringify(data));
              else
                  console.log("can not send data")
          }
          function sleep(milliseconds) {
              var start = new Date().getTime();
              for (var i = 0; i < 1e7; i++) {
                if ((new Date().getTime() - start) > milliseconds){
                  break;
                }
              }
            }
          function build_all_lines() {
              return ["Resalat","EmamAliHW","Bagheri","Hengam"];
          }

          function update_status(data) {
              lines = data['add'];
              console.log(data);


          }
          function apply_user_command() {

          }



            function httpGet(theUrl) {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
                xmlHttp.send( null );
                return xmlHttp.responseText['groups'];
            }
            console.log("hell",JSON.parse(httpGet("http://" + window.location.host + "/groups/")));

            var socket = new WebSocket("ws://" + window.location.host + "/customers/");
            socket.onmessage = function(e) {
                update_status(JSON.parse(e.data));
            };

            socket.onopen = function () {
                can_send_data = true;
            };
            var all_lines = build_all_lines();




            console.log('lines:', lines);




            var json_data = {"add":lines};
            var str_data = JSON.stringify(json_data);
            console.log('json:', json_data);
            console.log('str:', str_data);
            console.log('pppp');
            console.log("str:", str_data);
            console.log('sock:', socket);


            var myCenter = new google.maps.LatLng(35.728588, 51.488300);
            function loadMap(){

            var mapProp = {
               center:myCenter,
               zoom:17,
               mapTypeId:google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

            var marker = new google.maps.Marker({
               position:myCenter,
            });

            marker.setMap(map);

            var infowindow = new google.maps.InfoWindow({
               content:"Hi"
            });

            google.maps.event.addListener(marker, 'click', function() {
               infowindow.open(map,marker);
            });
         }
      </script>


   </head>

   <body onload = "loadMap()">
      <div id = "googleMap" style = "width:580px; height:400px;"></div>
   </body>

</html>
